//COLORS
$white: #fff;
$black: #000;
$red: #b30000;
$border: #c9c9c9;

$light-white: #e6e4e4;
$light-gray: #999;
$light-red: #ff0000;

$mid-gray: #6e6e6e;

$dark-mid-gray: rgb(51, 51, 51);

$dark-white: #e5e5e5;
$dark-gray: #222;

$transparent-gray: rgba(51,51,51,.4);

//FONT-SIZE
$primary: 1vw;
$header-main: 2.3vw;
$numbers: 2.7vw;
$header-minor: 1.6vw;