.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  z-index: 200;

  &__content {
    background-color: $white;
    margin: 20% auto;
    width: 60%;
    margin-top: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 5px 8px 0 rgba(0, 0, 0, 0.27);
    animation-name: modalopen;
    animation-duration: 1s;
    color: $dark-gray;
  }
  &__header {
    background: $light-gray;
    padding: 15px;
    color: $white;
    font-size: 2vh;
    h2,
    h3 {
      margin: 0;
    }
  }
  &__body {
    padding: 20px 30px;
  }
  &__list {
    ul {
      list-style: none;
      a {
        color: $dark-gray;
      }
      p {
        padding-bottom: 2rem;
      }
      .links {
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1500px) {
          width: 20%;
        }
        @media screen and (max-width: 1150px) {
          width: 25%;
        }
        @media screen and (max-width: 900px) {
          width: 35%;
        }
        @media screen and (max-width: 700px) {
          width: 45%;
        }
        @media screen and (max-width: 580px) {
          width: 60%;
        }
        @media screen and (max-width: 450px) {
          width: 100%;
        }
      }
      button {
        cursor: pointer;
        background: $red;
        color: $white;
        border: 0;
        border-radius: 10px;
        padding: 4px 10px;
      }
      button:active {
        transform: scale(0.95);
      }
      button:focus {
        outline: none;
      }

      li {
        padding: 1rem 0;
      }
    }
  }
  &__footer {
    background: $light-gray;
    padding: 10px;
    color: $white;
    text-align: center;
  }
  &__close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: white;
  }
  &__close:hover,
  &__close:focus {
    color: $light-red;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  p {
    font-size: $primary;
  }
}
