.cell-a1 {
    @include titles;
    margin-left: -12%;
    grid-column: 5/ 10;
    grid-row: 24;

    @include respond(extra) {
        grid-row: 23;
        align-self: flex-end;
    }

    @include respond (stab) {
        grid-row: 23;
        align-self: center;
        margin-left: -15%;
    }
    @include respond (smallp) {
        margin-left: -5%;
    }
}
.cell-a2 {
    
    @include numbers;
    grid-column: 9;
    grid-row: 24;
    @include respond(extra) {
        grid-row: 23;
        align-self: flex-end;
    }
    @include respond (stab) {
        align-self: center;
    }
    @include respond(phone) {
        grid-column: 8;
        align-self: flex-start;
    }

    @include respond (smallp) {
        opacity: 0;
    }
    
}
.cell-a3 {
    @include about;
    grid-row: 25;
   
    img {
        margin: .5vw;
    }

    @include respond(extra) {
        grid-row: 24;
    }

    @include respond (stab) {
        margin-left: -20%;
    }
    @include respond (smallp) {
        grid-column: 5/ 9;
        margin-left: -5%;
        h4 {
            font-size: 2.3rem;
        }
        
        
    }
}
.cell-a4 {
    @include about;
    grid-row: 26/ 28;

    @include respond (extra) {
        grid-row: 26/ 27;
    }
    @include respond (stab) {
        grid-row: 26/ 27;
        margin-left: -20%;
    }
    @include respond (smallp) {
        h4 {
            font-size: 2.3rem;
        }
        grid-column: 5/ 9;
        grid-row: 26/ 27;
        margin-left: -5%;
        font-size: .8rem;
    }
    
}
.cell-a5 {
    @include about;
    grid-row: 25;
    margin-top: 86%;

    @include respond (extra) {
        margin-top: 100%;
        grid-row: 24;
    }
    @include respond (stab) {
        margin-left: -20%;
    }
    @include respond (smallp) {
        grid-column: 5/ 10;
        grid-row: 25/ 29;
        margin-left: -5%;
        margin-top: 86%;
    }
    
}
/*about-img*/
.cell-a6 {
    grid-column: 3/ 4;
    grid-row: 22/ 30;
    background: linear-gradient(to left,
    rgba(160,82,45, 0.0), 
    rgba(160,82,45, 0.3)
    rgba(160,82,45, 0.0));
    z-index: 5;

    @include respond(extra) {
        grid-column: 2/ 4;
    }
    @include respond (phone) {
        grid-column: 1/ 4;
    }
}